$prime: #385a85;
$second: #f68b1f;

* {font-family: 'Montserrat', sans-serif;}

.navbar-default {background:$prime;}
.navbar-default .navbar-brand {color:#ffffff;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {background-color:$second;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {color:#ffffff;}
.caption > h3, .caption > p {text-align:center;}
h3 {margin-top:10px;}
.navbar-default .navbar-nav > li > a {color:#ffffff;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color:$second;}
.main-sorter {width:30%;margin-left:auto; margin-right:auto; margin-bottom:30px;}
.main-sorter > .btn-group-lg > p {text-align:center;}
.btn-primary .badge {background-color:$second; color:#ffffff;}






hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border:1px solid #cccccc;

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 600px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
